:host {
  position: relative;
}

.container {
  --offset: 8px;

  width: 475px;
  min-height: 600px;
  background: #888;
  background-image: url("images/cardboard-flat.png");
  box-shadow:
    calc(var(--offset) * 1) calc(var(--offset) * 1) 0 #000,
    calc(var(--offset) * 2) calc(var(--offset) * 2) 0 #000b,
    calc(var(--offset) * 3) calc(var(--offset) * 3) 0 #0008,
    calc(var(--offset) * 4) calc(var(--offset) * 4) 0 #0004;
  padding: 20px;
  position: relative;
  z-index: 1;
}

h1 {
  --color: #850b15;

  color: #fff;
  font-family: Larceny, monospace;
  font-size: 5.25rem;
  margin-bottom: 1.5rem;
  text-align: center;
  filter:
    drop-shadow(-3px 0 var(--color))
    drop-shadow(0 3px var(--color));
}

.logo {
  text-align: center;

  & img {
    display: block;
    width: 256px;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }

  & .version {
    background: darkred;
    padding: 0 12px;
    color: #fff;
    font-family: EnterCommand, monospace;
    font-size: 26px;
    display: inline-block;
    transform: translate(95px, -15px) rotate(-7deg);
  }
}

.data {
  display: grid;
  gap: 0.25rem;

  & label {
    display: grid;
    grid-template-columns: 0.7fr 32px 1fr;
    align-items: center;
    gap: 1rem;
  }

  & label:first-child {
    grid-row-start: 1;
    & :is(p, info-popup) { display: none; }

    & select-skin {
      grid-column: 1 / 4;
      padding: 6px;
      box-sizing: border-box;
    }
  }

  & :is(p, small) {
    font-family: Jost, EnterCommand, monospace;
    text-shadow: 0 0 1px #000;
    margin: 0;
    font-size: 1.25rem;
    color: #111;
  }

  & small {
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: center;
    color: #444;
  }

  & input[type="text"],
  & select {
    margin-top: 5px;
    padding: 4px;
    border: 0;
    background: #000;
    color: white;
    z-index: 10;
    font-family: EnterCommand, sans-serif;
    font-size: 2rem;
    min-width: 175px;
    text-align: center;

    &:focus {
      color: gold;
    }
  }

  & input:invalid {
    background: #440404;
  }

  & button {
    border: 0;
    border-radius: 2px;
    padding: 6px 16px;
    margin-top: 6px;
    font-family: EnterCommand, sans-serif;
    font-size: 2rem;
    color: #eee;
    background: linear-gradient(#0863a5, #1283d1);
    box-shadow: 0 7px 0 #0b5a92, 0 8px 3px #0000004d;
    z-index: 15;
    transition: all 0.15s;
    cursor: pointer;

    &:active {
      color: #888;
      background: linear-gradient(to bottom, #0006, #0008), linear-gradient(#0863a5, #1283d1);
      transform: translateY(5px);
      box-shadow: 0 2px 0 #0b5a92, 0 3px 3px #0000004d;
    }
  }

  & textarea {
    background: #333;
    border: 2px solid #000;
    color: #fff;
    margin-top: 1rem;
    min-height: 100px;
    font-family: monospace;
    font-size: 1.25rem;
    padding: 0.5rem;
    text-align: center;
    resize: none;
  }
}

select[disabled] {
  background: #555;
  color: #222;
  cursor: not-allowed;
}

select[name="skin"] {
  & option:checked {
    background: #8da3c2;
  }

  &::-webkit-scrollbar { background: #222; }
  &::-webkit-scrollbar-thumb { background: #0967ab; }
}

.info info-popup {
  --size: 25px;

  background: #0967ab;
  font-size: 1rem;
  display: inline-grid;
  width: var(--size);
  height: var(--size);
  place-items: center;
  border-radius: 50%;
  transform: translate(0.25rem, -0.05rem);
  position: relative;
  z-index: 11;
}

.preview {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 0;
  animation: idle 0.3s steps(2) infinite alternate;

  & .head {
    width: 32px;
    height: 21px;
    background: var(--image-head, url("images/skins/original.png"));
    transform: translateY(1px);
  }

  & .neck {
    width: 32px;
    height: 25px;
    background: url("images/neck.png");
  }
}

@keyframes idle {
  0% {
    transform: translate(30px, -120px) rotate(45deg) scale(4);
  }

  100% {
    transform: translate(0, -90px) rotate(45deg)  scale(4);
  }
}
