@font-face {
  font-family: Larceny;
  src:
    url("fonts/larceny.woff2") format("woff2"),
    url("fonts/larceny.woff") format("woff"),
    url("fonts/larceny.ttf") format("truetype");
}

@font-face {
  font-family: Jost;
  src:
    url("fonts/jost-vf.woff2") format("woff2"),
    url("fonts/jost-vf.woff") format("woff"),
    url("fonts/jost-vf.ttf") format("truetype");
}

@font-face {
  font-family: EnterCommand;
  src:
    url("fonts/entercommand.woff2") format("woff2"),
    url("fonts/entercommand.woff") format("woff"),
    url("fonts/entercommand.ttf") format("truetype");
}

body {
  margin: 0;
  background: #001;
}

.music-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.container.menu-mode {
  display: grid;
  place-items: center;
  background:
    linear-gradient(#000, #0009 75%),
    url("images/bg.png");
  background-blend-mode: multiply;
  background-size: 256px;
  image-rendering: pixelated;
  min-height: 98vh;
  padding-bottom: 2rem;
}

.container.diplopollo-mode {
  height: 100vh;
  display: grid;
  align-items: end;
}
